body{
    font-family: 'Arima', cursive;
font-family: 'Edu QLD Beginner', cursive;
font-family: 'Open Sans', sans-serif; 

}
.top-image{
    background-image: url(.//images/images__1_-removebg-preview.png);
    background-size: cover;
}
.name-list{
 list-style-type:decimal;
}
.name-list li{
    margin-top:20px ;
}
